.col {
    min-width: 25rem;
    max-width: 25rem;
}
.card--image {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}