// .card {
//     max-width: 25rem;
// }

.movie-list-outer {
    overflow: hidden;
    position: relative;
    transform: translate3d(0,0,0);
    .movie-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 2rem;
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.25s ease 0s;
        width: 100%;
        // overflow-x: scroll;
        // overflow-y: hidden;
    }
    .movie-list--action {
        position: absolute;
        transition: all ease 0.5s;
        display: none;
        width: 100%;
        top: 10rem;
        &__left {
            position: absolute;
            left: 1rem;
            background: white;
            padding: 0 0.5rem;
        }
        &__right {
            position: absolute;
            right: 2rem;
            background: white;
            padding: 0 0.5rem;
        }
    }
    &:hover .movie-list--action {
        display: block;
    }
}

