#sidebar {
    padding: 1rem;
    position: absolute;
    width: 300px;
    height: 100vh;
    left: -300px;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: left ease 0.5s;
    &.active {
        left: 0px;
    }
    .sidebar--action {
        position: absolute;
        right: 1.5rem;
        top: 1rem;
    }
    h1 a {
        text-decoration: none;
    }
    .list-styled {
        list-style: none;
        padding-left: 0;
        margin: 2rem 0;
        li {
            color: white;
            margin: 0.5rem 0;
            a {
                padding: 5px 0;
                display: block;
            }
        }
    }
}