body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-extra-small {
  font-size: 0.75rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: none !important;
}

.pointer {
  cursor: pointer;
}

$red : #a80a19;
$blue : #2a31c2;

$primary : $red;
$success : $blue;
@import '~bootstrap/scss/bootstrap.scss';
